<div class="container mt-3">

  <h1>My tasks</h1>
  <% @tasks.each do |task| %>
    <div>
      <input type="checkbox" id=<% task.title %> name= <% task.title %>
      <% if task.completed %> checked> <% end %>

      <label for=<% task.title %>> <%= link_to task.title, task_path(task) %> </label>
    </div>


  <% end %>

</div>




